openapi: 3.1.0
info:
  title: SaleWallet API
  version: 0.0.1
  description: "Документация API для SaleWallet"
paths:
  /register:
    post:
      summary: Register a new user
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInput"
      responses:
        "201":
          description: User successfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationResponse"
        "400":
          description: Validation error or user exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /confirm-email:
    get:
      summary: Confirm user email
      tags:
        - Users
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: User ID
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Email verification token
      responses:
        "200":
          description: Email successfully confirmed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Email successfully confirmed
        "400":
          description: Invalid input or token expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: User or token not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /login:
    post:
      summary: User login
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginInput"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "400":
          description: Missing username or password
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Invalid username or password
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Email not confirmed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
tags:
  - name: Users
    description: Operations related to user
components:
  schemas:
    UserInput:
      type: object
      required:
        - username
        - mail
        - password
      properties:
        username:
          type: string
        mail:
          type: string
        password:
          type: string

    RegistrationResponse:
      type: object
      properties:
        user:
          type: object
          properties:
            user_id:
              type: string
            username:
              type: string
            mail:
              type: string
            created_at:
              type: string
              format: date-time

    LoginInput:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          description: Username or email
        password:
          type: string
          format: password

    LoginResponse:
      type: object
      properties:
        message:
          type: string
          example: Login successful
        user:
          type: object
          properties:
            user_id:
              type: string
            username:
              type: string
            mail:
              type: string
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
